<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/giohang.css">
    <link href="fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
<style>
    a.ttname {
  text-align: left;
}
</style>
    <div class="gvn-banner-header" class="">
        <div class="owl-stage-outer">
            <a href="index.html"
                style="background: url(https://gstatic.gearvn.com/2021/10/f70855.png); background-position: center; background-repeat: no-repeat; "></a>
        </div>
    </div>

    <header id="mast-head">
        <div class="container">
            <div id="primary100">
                <div class="mast-head">
                    <div class="header-logo-area">
                        <div class="header-site-branding">
                            <a href="index.html"><img
                                    src="https://gstatic.gearvn.com/2021/08/Logo-GEARVN_pc-300x70-1-1.png" alt=""
                                    width="301" height="71"></a>
                        </div>

                        <div class="off-canvas-navigation-wrapper">
                            <div id="mobile-menu" class="off-canvas-navbar-toggle-buttons">
                                <i class="fas fa-bars"></i>
                            </div>

                            <div id="desktop-small-menu">
                                <button id="btn-mobile-menu" class="navbar-toggle-close" type="button">
                                    <i class="far fa-window-close"></i>
                                </button>
                                <div class="lst-items">
                                    <a href="./loaisanpham.html"><i class="fas fa-laptop"></i>
                                        <h3>Laptop Gaming</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-laptop-code"></i>
                                        <h3>Laptop văn phòng</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fab fa-apple"></i>
                                        <h3>Apple</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-desktop"></i>
                                        <h3>PC Gaming</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-server"></i>
                                        <h3>PC – Máy bộ GEARVN</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-tv"></i>
                                        <h3>Màn hình</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-microchip"></i></i>
                                        <h3>Main - CPU - VGA</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-battery-three-quarters"></i>
                                        <h3>Case - Tản - Nguồn</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-memory"></i>
                                        <h3>SSD - HDD - RAM</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-keyboard"></i>
                                        <h3>Bàn phím</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-mouse"></i>
                                        <h3>Chuột</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-headphones"></i>
                                        <h3>Tai nghe - Loa</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-print"></i>
                                        <h3>Máy in, phần mềm</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-chair"></i>
                                        <h3>Ghế &amp; bàn</h3>
                                    </a>
                                    <a href="./loaisanpham.html"><i class="fas fa-wifi"></i>
                                        <h3>Thiết bị mạng</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form action="#" class="navbar-search">
                        <div class="input-group">
                            <div class="input-search-field">
                                <input type="text" placeholder="Bạn tìm gì...">
                            </div>
                            <div class="input-group-btn">
                                <button type="submit"><i class="fas fa-search"></i>Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                    <div class="header-icons">
                        <div class="header-icon">
                            <aside>
                                <i class="far fa-user"></i>
                                <span>Đăng nhập / Đăng ký
                                    <br>Tài khoản
                                    <i class="fas fa-caret-down"></i></span>
                            </aside>

                            <div class="popup-navbar-account">
                                <a href="dangnhap.html">Đăng nhập</a>
                                <a href="dangky.html">Tạo tài khoản</a>
                                <aside id="login-facebook">
                                    <div class="nsl-container-block"><a href="#" class="btn-facebook"><img
                                                src="https://beta.gearvn.com/wp-content/themes/gearvn-electro-child-v1/assets/images/facebook.png"
                                                alt="">
                                            <strong>Đăng nhập bằng Facebook</strong></a></div>
                                </aside>

                                <aside id="login-google">
                                    <div class="nsl-container-block"><a href="#" class="btn-google"><img
                                                src="https://beta.gearvn.com/wp-content/themes/gearvn-electro-child-v1/assets/images/google.png"
                                                alt="">
                                            <strong>Đăng nhập bằng Google</strong></a></div>
                                </aside>
                            </div>
                        </div>

                        <div class="header-icon header-icon__cart">
                            <aside>
                                <a href="giohang.html">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="cart-items-count">0</span>
                                    <span class="cart-title">Giỏ hàng</span>
                                </a>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>

            <div class="electro-navbar">
                <div class="container">
                    <div class="electro-navbar-inner">
                        <div id="menuDanhMuc" class="departments-menu-v2">
                            <a href="#" class="departments-menu-v2-title">
                                <span><i class="fas fa-bars"></i>Danh mục sản phẩm</span>
                            </a>

                            <ul id="menu-main-danh-muc-san-pham" class="dropdown-menu" style="display: none;">
                                <li><a href="loaisanpham.html"><i class="fas fa-laptop"></i>Laptop
                                        Gaming</i></a></li>
                                <li><a href="loaisanpham.html"><i class="fas fa-laptop-code"></i>Laptop văn
                                        phòng</a></li>
                                <li><a href="loaisanpham.html"><i class="fab fa-apple"></i>Apple</a></li>
                                <li><a href="loaisanpham.html"><i class="fas fa-desktop"></i>PC Gaming</a></li>
                                <li><a href="loaisanpham.html"><i class="fas fa-server"></i>PC - Máy bộ
                                        GEARVN</a></li>
                                <li><a href="loaisanpham.html"><i class="fas fa-tv"></i>Màn hình</a></li>
                                <li><a href="loaisanpham.html"><i class="fas fa-microchip"></i>Main - CPU -
                                        VGA</a></li>
                                <li><a href="loaisanpham.html"><i class="fas fa-battery-three-quarters"></i>Case
                                        - Tản - Nguồn</a></li>
                                <li><a href="loaisanpham.html"><i class="fas fa-memory"></i>SSD - HDD - RAM</a>
                                </li>
                                <li><a href="loaisanpham.html"><i class="fas fa-keyboard"></i>Bàn phím</a></li>
                                <li><a href="loaisanpham.html"><i class="fas fa-mouse"></i>Chuột</a></li>
                                <li><a href="loaisanpham.html"><i class="fas fa-headphones"></i>Tai nghe -
                                        Loa</a></li>
                                <li><a href="loaisanpham.html"><i class="fas fa-print"></i>Máy in, phần mềm</a>
                                </li>
                                <li><a href="loaisanpham.html"><i class="fas fa-chair"></i>Ghế & bàn</a></li>
                                <li><a href="loaisanpham.html"><i class="fas fa-wifi"></i>Thiết bị mạng</a></li>
                                <li><a href="loaisanpham.html"><i class="fab fa-usb"></i>Phụ kiện</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="primary-nav-menu">
                        <ul class="nav-inline">
                            <li class="menu-item"><a href="#"><i class="fas fa-credit-card"></i>Hướng dẫn thanh
                                    toán</a></li>
                            <li class="menu-item"><a href="#"><i class="fas fa-money-check-alt"></i>Hướng dẫn
                                    trả
                                    góp</a></li>
                            <li class="menu-item"><a href="#"><i class="fas fa-shipping-fast"></i>Chính sách
                                    giao
                                    hàng</a></li>
                            <li class="menu-item"><a href="#"><i class="fas fa-shield-alt"></i>Chính sách bảo
                                    hành</a></li>
                            <li class="menu-item"><a href="sanphamkhuyenmai.html"><i class="fas fa-tag"></i>Tổng
                                    hợp khuyến
                                    mãi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="content">
        <div class="container">
            <div class="site-content-inner">
                <div class="woocommerce">
                    <div class="woocommerce-notices-wrapper" style="opacity: 0; display: none;"></div>
                    <h3 class="cart-title">Giỏ hàng <span>(1 sản phẩm )</span></h3>
                    <form action="">
                        <div class="cart-items">
                            <div class="woocommerce-cart-form__cart-item cart_item">
                          

                            </div>
                        </div>

                        <div class="cart-info">
                            <div class="coupon">
                                <label for="coupon_code">Mã khuyến mãi</label>
                                <input type="text" class="input-text" value="" placeholder="Mã khuyến mãi">
                                <button type="submit" class="button" value="Áp dụng"> Áp dụng </button>
                            </div>
                            <div class="cart-collaterals">
                                <div class="cart_totals">
                                    <table cellspacing="0" class="shop_table">
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Tạm tính</th>
                                                <td><span
                                                        class="woocommerce-Price-amount total-price">39,990,000</span>VND
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Tổng</th>
                                                <td><strong><span
                                                            class="woocommerce-Price-amount total-price1">39,990,000
                                                        </span></strong>VND</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="cart-btns">
                                <div class="wc-proceed-to-checkout">
                                    <a href="#" class="checkout-button button" onclick="return Pay()">Tiến hành thanh
                                        toán</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer id="colophon">
        <div class="container">
            <div class="footer-newsletter">
                <div class="footer-newsletter-inner">
                    <div class="newsletter-content">
                        <h5 class="newsletter-title">Đăng ký nhận bản tin GEARVN</h5>
                        <span class="newsletter-marketing-text">Nhận ngay thông tin về các chương trình khuyến
                            mãi</span>
                    </div>
                    <div class="newsletter-form">
                        <form action="#" class="navbar-search">
                            <div class="input-group">
                                <div class="input-search-field">
                                    <input type="text" placeholder="Email của bạn...">
                                </div>
                                <div class="input-group-btn">
                                    <button type="submit"></i>Đăng ký</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="footer-widgets">
                <div class="widget-column">
                    <aside class="widget_text">
                        <div class="widget_body">
                            <h4 class="widget-title">VỀ GEARVN</h4>
                            <ul class="link-list">
                                <li><a href="#">Giới thiệu về GEARVN</a></li>
                                <li><a href="#">Tuyển dụng khối Văn phòng</a></li>
                                <li><a href="#">Tuyển dụng khối Showroom</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Điều khoản sử dụng</a></li>
                            </ul>
                        </div>
                    </aside>

                    <aside class="widget_text">
                        <div class="widget_body">
                            <h4 class="widget-title">HỆ THỐNG TỔNG ĐÀI MIỄN PHÍ: <br> (Làm việc từ 9:00 - 19:00)
                            </h4>
                            <ul class="link-list">
                                <li><a href="#">Tổng đài mua hàng: <b> 1800 6975</b></a></li>
                                <li><a href="#">Tổng đài hỗ trợ khách hàng: <b> 1800 6173</b></a></li>
                            </ul>
                        </div>
                    </aside>

                    <aside class="widget_text">
                        <div class="widget_body">
                            <h4 class="widget-title">THÔNG TIN</h4>
                            <ul class="link-list">
                                <li><a href="#">Theo dõi đơn hàng</a></li>
                                <li><a href="#">Mua & giao nhận hàng</a></li>
                                <li><a href="#">Quy định & hình thức thanh toán</a></li>
                                <li><a href="#">Bảo hành & bảo trì</a></li>
                                <li><a href="#">Đổi trả & hoàn tiền</a></li>
                            </ul>
                        </div>
                    </aside>

                    <aside class="widget_text">
                        <div class="widget_body">
                            <h4 class="widget-title">ĐƠN VỊ VẬN CHUYỂN</h4>
                            <ul class="list-delivery">
                                <li><img src="./img/footer/ĐƠN VỊ VẬN CHUYỂN/ems.png" alt=""></li>
                                <li><img src="./img/footer/ĐƠN VỊ VẬN CHUYỂN/giao-hang-chanh-xe.png" alt="">
                                </li>
                                <li><img src="./img/footer/ĐƠN VỊ VẬN CHUYỂN/giao-hang-gearvn.png" alt=""></li>
                                <li><img src="./img/footer/ĐƠN VỊ VẬN CHUYỂN/giao-hang-nhanh.png" alt=""></li>
                            </ul>
                        </div>
                        <div class="widget_body mr-top-30">
                            <h4 class="widget-title">CÁCH THỨC THANH TOÁN</h4>
                            <ul class="list-delivery">
                                <li><img src="./img/footer/CÁCH THỨC THANH TOÁN/internet.png" alt=""></li>
                                <li><img src="./img/footer/CÁCH THỨC THANH TOÁN/jcb.png" alt=""></li>
                                <li><img src="./img/footer/CÁCH THỨC THANH TOÁN/Mastercard.png" alt=""></li>
                                <li><img src="./img/footer/CÁCH THỨC THANH TOÁN/momooo.png" alt=""></li>
                            </ul>
                            <ul class="list-delivery">
                                <li><img src="./img/footer/CÁCH THỨC THANH TOÁN/money-face.png" alt=""></li>
                                <li><img src="./img/footer/CÁCH THỨC THANH TOÁN/tra-gop.png" alt=""></li>
                                <li><img src="./img/footer/CÁCH THỨC THANH TOÁN/VISA.png" alt=""></li>
                                <li><img src="./img/footer/CÁCH THỨC THANH TOÁN/zalopay@3x.png" alt=""></li>
                            </ul>
                        </div>
                    </aside>
                </div>

            </div>

            <div class="footer-bottom-widgets">
                <div class="widget-bottom-column">
                    <aside class="widget_bottom_text">
                        <div class="widget_bottom_body">
                            <a href="#"><img src="https://gstatic.gearvn.com/2021/08/Logo-GEARVN_pc-300x70-1-1.png"
                                    alt="" width="200px"></a>
                            <h3 class="widget-bottom-title">CÔNG TY TNHH THƯƠNG MẠI GEARVN</h3>
                            <p>GearVN là doanh nghiệp chuyên cung cấp thiết bị, giải pháp về máy tính, thiết bị
                                chơi game, thiết bị công nghệ cao cấp hàng đầu Việt Nam.</p>
                            <img src="https://gstatic.gearvn.com/2020/01/20150827110756-dathongbao.png" alt=""
                                width="200px">
                        </div>
                    </aside>

                    <aside class="widget_bottom_text">
                        <div class="widget_bottom_body">
                            <h4 class="widget-bottom-title">HỆ THỐNG SHOWROOM</h4>
                            <ul class="link-bottom-list">
                                <h4>SHOWROOM HCM (Làm việc từ 9:00 - 19:00)</h4>
                                <li>Địa chỉ: 78-80-82 Hoàng Hoa Thám, Phường 12, Quận Tân Bình.</li>
                                <h4>SHOWROOM HN (Làm việc từ 9:00 - 19:00)</h4>
                                <li>Địa chỉ : 37 Ngõ 121 Thái Hà, Phường Trung Liệt, Quận Đống Đa.</li>
                            </ul>
                        </div>
                    </aside>

                    <aside class="widget_bottom_text">
                        <div class="widget_bottom_body" style="text-align: center;">
                            <h4 class="widget-bottom-title">TIN TỨC CÔNG NGHỆ</h4>
                            <img src="https://gstatic.gearvn.com/2021/07/GVN360-04.png" alt="" width="150px">
                            <h4 class="widget-bottom-title">Kết nối với chúng tôi</h4>
                        </div>
                        <ul class="link-bottom-list" style="text-align: center;">
                            <div class="connect-with-us">
                                <a href="https://www.facebook.com/gearvnhcm/"><img
                                        src="https://gstatic.gearvn.com/2020/01/facebook.png" alt=""></a>
                                <a href="https://www.facebook.com/groups/VietnamGamingConner/"><img
                                        src="https://gstatic.gearvn.com/2020/01/group.png" alt=""></a>
                                <a href="https://www.youtube.com/channel/UCdxRpD_T4-HzPsely-Fcezw"><img
                                        src="https://gstatic.gearvn.com/2020/01/youtube.png" alt=""></a>
                            </div>
                        </ul>

                    </aside>

                </div>
            </div>
        </div>
    </footer>
</body>

<div aria-live="polite" aria-atomic="true" style="position: relative;">
    <div class="toast" style="position: fixed; top: 7%; right: 2%; z-index:999999;">
        <div class="toast-header d-flex justify-content-between" style="display: flex; justify-content: space-between;">
            <img src="https://gstatic.gearvn.com/2021/08/Logo-GEARVN_pc-300x70-1-1.png" style="height:20px; width:auto;"
                class="rounded mr-2 img-fluid" alt="...">
            <strong class="mr-auto">GREAR VN</strong>
            <button type="button" class="ml-2 mb-1 btn-close shadow-none" data-bs-dismiss="toast" aria-label="Close">
            </button>
        </div>
        <div class="toast-body fw-bolder">
            Thank you very much for using our services. We will always strive to do our best. ♥
        </div>
    </div>
</div>
<script src="jquery-3.6.1.js"></script>

<script>
    var header = document.getElementById('desktop-small-menu');
    var mobileMenu = document.getElementById('mobile-menu');
    var a = 0;
    //Đóng mở menu mobile
    mobileMenu.onclick = function () {
        if (a == 0) {
            header.style.display = 'block';
            a++;
        } else if (a != 0) {
            header.style.display = 'none';
            a = 0;
        }
    }

    var btnmobileMenu = document.getElementById('btn-mobile-menu');
    //Đóng mở menu mobile
    btnmobileMenu.onclick = function () {
        if (a == 1) {
            header.style.display = 'none';
            a--;
        } else {
            header.style.display = 'block';
        }
    }

    var danhSachMenu = document.getElementById('menu-main-danh-muc-san-pham');
    var btnDanhMuc = document.getElementById('menuDanhMuc');
    var b = 0;
    btnDanhMuc.onclick = function () {
        if (a == 0) {
            danhSachMenu.style.display = 'block';
            a++;
        } else if (a != 0) {
            danhSachMenu.style.display = 'none';
            a = 0;
        }
    }
    function Pay() {
        $(".toast").toast("show");
        setTimeout(() => {
            window.location = "index.html";
        }, 3000);
    }
    function UpdatePrice() {
        var stringNumber = $("#price").text();
        var convertedNumber = parseInt(stringNumber.replace(/,/g, ""));
        var quantity = $("#quantity").val();
        var total_price = convertedNumber * quantity;

        //
        var formattedNumber = total_price.toLocaleString();
        $(".total-price").each(function () {
            $(this).text(formattedNumber)
        });

    }
    $(document).ready(function () {
        $("#btn-plus").on("click", function () {
            var quantity = $("#quantity").val();
            quantity++;

            $("#quantity").val(quantity);
            UpdatePrice();
        });
        $("#btn-minus").on("click", function () {
            var quantity = $("#quantity").val();
            if (quantity <= 1) {
            }
            else {
                quantity--;
            }
            $("#quantity").val(quantity);
            UpdatePrice();


        });
    }
    );
</script>
<script type="module" src="/dist/thanhtoan.js"></script>

</html>